@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&family=Poppins:wght@500&display=swap');
*{
    box-sizing: border-box;
}

body{
    background: url(./Registration-form/images/bg-intro-desktop.png), hsl(0, 100%, 74%) ;
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    width: 70vw;
    justify-content: space-between;
}
p,h1,small{
    font-family: 'Poppins';
    color: #fff;
}
h1{
    font-size: 36px;
    line-height: 45px;
    font-weight: 700;
}
.text{
    width: 32em;
    margin-right: 50px;
    position: relative;
}
.center{
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
}
form{
    background: #fff;
    width: 28em;
    height: auto;
    padding: 16px;
    border-radius: 10px;
    box-shadow: 0 0.4em rgba(39, 38, 38, 0.2)
}
fieldset{
    border: none;
}
label{
    display: block;
}
input[type="text"],input[type="email"],input[type="password"]{
    min-height: 3em;
    margin: 8px;
    width: 90%;
    padding: 10px;
    border-radius: 6px;
    outline-style: none;
    border: 1px solid hsl(246, 25%, 77%);
    font-family: 'Poppins', sans-serif;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus{
    border: 1px solid hsl(248, 32%, 49%);
}
input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="password"]::placeholder{
    font-family: 'Poppins',sans-serif;
}
small{
    color: hsl(246, 25%, 77%);
    font-family: 'Poppins',sans-serif;
}
.form{
    margin: 0 auto;
}
input[type="button"]{
    min-height: 3em;
    width: 85%;
    padding: 12px;
    margin: 0 20px; 
    background: hsl(154, 59%, 51%);
    border-radius: 6px;
    color: #fff;
    border: 1px solid hsl(154, 59%, 51%);
    cursor: pointer;
}
.bottom{
    margin: 10px 60px;
}
.bottom small{
    font-size: 8px;
}
button{
    width: 33.5em;
    height: auto;
    padding: 16px;
    border-radius: 10px;
    margin-bottom: 15px;
    background: hsl(248, 32%, 49%);
    color: #fff;
    border: 1px solid hsl(248, 32%, 49%);
    font-family: 'Poppins';
    cursor: pointer;
    box-shadow: 0 0.4em rgba(39, 38, 38, 0.2);
}
a{
    color: hsl(0, 37%, 85%);
    text-decoration: none;
}
span{
    color: hsl(246, 25%, 77%);
}
